[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TDApplied"]
	path = TDApplied
	url = https://github.com/shaelebrown/tdapplied
